template(name="info")
  .ui.text.container.segment
    +markdown
      # About this App
      This is a challenge for [freeCodeCamp](https://www.freecodecamp.com). 
      
      You can read the [assignment](https://www.freecodecamp.com/challenges/build-a-nightlife-coordination-app) and take a look at the [sources](https://github.com/JanMP/dovetail).
      
      If you find any problems with this app, please report them [here](https://github.com/JanMP/dovetail/issues).

      This app uses the Yelp API to get the lists of local bars.
